.text{
    
    display: flex;
    justify-content: space-around;
    color: grey;
}

.number{
    display: flex;
    justify-content: space-around;
    color: grey;
    font-size: 3em;
}

button{
    
    background: transparent;
    border-radius: 20%
}

.buttons{
    display: flex;
    justify-content: space-around ;
}